@charset "utf-8";

body {
	width: 1200px;
	margin: 0px auto;
	background-color: #C5CEDE;
	font-family: Tahoma, "sans-serif";
}

h3 {
	font-size: 280%;
	text-align: center;
}

nav{
	height: 10px;
	padding-top: 0px; padding-bottom: 30px;
	background-color: #0D0600;
}

nav li{
	display: inline;
	padding-left: 24px; padding-right: 24px; padding-top: 6px; padding-bottom: 4px;
	margin-left: 170px;
	font-size: 180%;
}

nav a {
	text-decoration: none;
	color: #C5CEDE;
}

img {margin-left: 150px; margin-bottom: 30px;
	border: 0px; border-radius: 10px;
}

img.vertical {margin-left: 290px;}

video {border: solid; border-radius: 15px; border-width: 0px;
	margin-left: 380px; margin-bottom: 30px;
}
video.h {margin-left: 100px;}

a.top {text-decoration: none;
	color: #004DDB;
}
a.top:hover {color: #1219DC;}
p.top {text-align: right; font-size: 150%; margin-top: 30px; margin-bottom: 50px;}